.container {
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    padding-top: 10px;
}

.post__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    padding-right: 15px;
    padding-left: 15px;
}

.post__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    
    transition: all 0.2s linear;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
}

.post__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    
    transition: all 0.2s linear;
}

.post__item:hover .post__image {
    transform: scale(1.5);
}
.post__item:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.post__wrapper-image {
    overflow: hidden;
}
.post__title {
    margin-bottom: 10px;
}
.post__time {
    margin-bottom: 20px;
}